<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Tip Calc.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6A88E85B1CDFC6C4009CE94C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6A88E86F1CDFC6C4009CE94C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6A88E87A1CDFC6C4009CE94C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
